.choices {
    position: absolute;
    width: 100vw;
    bottom: 10vh;
    text-align: center;

    button {
        opacity: 0.8;
        cursor: pointer;
        background-color: transparent;
        border: none;
        transition: all 0.5s;

        &:hover {
            opacity: 1;
            transform: translateY(-10px) scale(1.2);
        }

        img {
            width: 120px;
            height: 120px;
        }

        &.rock img {
            transform: rotate(-15deg);
        }

        &.scissor img {
            transform: rotate(-80deg);
        }

        &.paper img {
            transform: rotate(15deg);
        }
    }
}